body{
	background-image: radial-gradient(circle at 50% 0, #ffffff, #eaeaea);
	font-family: 'Roboto', sans-serif;
}

section{
	padding-top: 30px;
	padding-bottom: 30px;
}

h1{
	color: #000000;
  	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  	margin-bottom: 50px;
  	width: 100%;
  	margin-top: 50px;
}

.screen-one h3{
	color: #64666b;
	font-weight: 300;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
}

#logo-principal{
	margin-top: 40px;
	width: 100%;
	margin-bottom: 40px;
}

.form{
	border-radius: 8px;
  	background-color: #282727;
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  	padding: 40px;
}

.form h4{
	color: #fff;
}

.form input[type="password"],
.form input[type="email"],
.form input[type="text"]{
	border-radius: 2px;
	height: 45px;
  	background-color: #ffffff;
  	font-size: 1.3em;
	font-weight: 300;
	color: #a4a0a0;
}

.form button:disabled,
.form button:focus,
.form button:hover{
	background-color: #e73b17 !important;
}

.form button{
	width: 100%;
	padding: 15px;
	text-align: center;
	border: 0px;
	cursor: pointer;
	background-color: #e73b17;
}

.form .form-check{
	color: #fff;
}

.form .form-check input{
	margin-right: 10px;
	background-color: #fff;
}

.form .form-check span{
	color: #e73b17;	
}

.resum-product{
  	font-size: 1.5em;
  	font-weight: 300;
  	color: #64666b;
  	padding-top: 40px;
  	padding-bottom: 40px;
}

.resum-product .line-detail-product{
	width: 150px;
	height: 5px;
	display: block;
	border: solid 3px #ff4019;
}

.image-product{
	padding-top: 40px;
	padding-bottom: 40px;
}

.image-product img{
	max-width: 100%;
}

footer{
	background-color: #11141c;
	padding: 20px;
}

footer .about-us p{
	color: #848484;
	text-align: justify;
}

footer .last-posts-blog li span{
	font-size: 0.850rem;
	color: #3d3d3d;
}

footer .last-posts-blog li{
	border-bottom: 1px solid #272d3d;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

footer h3{
	color: #fff;
	font-weight: 300 !important;
	text-decoration: none;
	font-size: 1.2em;
	padding-bottom: 10px;
	border-bottom: 1px solid #272d3d;
}

footer ul{
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

footer ul li{
	margin-bottom: 10px;
}

footer a:hover{
	text-decoration: none !important;
}

footer ul li a{
	color: #848484;
	font-size: 1em;
}

.copyrights{
	padding: 40px;
	border-top: solid 3px #272d3d;
	background-color: #11141c;
}

@media screen and (max-width: 768px){
	.no-show-for-small{
		display: none !important;
	}

	.screen-one h3{
		padding: 20px;
		padding-bottom: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	h1{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#logo-principal{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}